<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kovri</title>
	<meta name="description" content="Kovri, a secure, private, untraceable C++ router implementation of I2P">
	<meta name="author" content="The Kovri I2P Router Project">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<header>
	<img src="img/kovri_logo.png" alt="The Kovri I2P Router Project">
	<br>
	/// No javascript - No cookies - No web analytics trackers - Open Sourced
	<hr />
</header>