<footer>
  
   <div class="container footer-container">
        <div class="row center-xs footer-wrap"> 
            <img src="../img/wallet.png" class="img-wallet">   
            <p>XMR: 44AFFq5kSiGBoZ4NMDwYtN18obc8AemS33DBLWs3H7otXft3XjrpDtQGv7SqSsaBYBb98uNbr2VBBEt7f2wfn3RVGQBEP3A </p>
            <p>OpenAlias:  donate.getmonero.org</p> 
           </div>
           <div class="row center-xs">
    <p>No javascript - No cookies - No web analytics trackers - Open Sourced</p>
</div> 
        <div class="row center-xs">
            <p>
                <a class="white" href="https://github.com/monero-project/kovri-site" target="_blank">Source code</a> |
                <a class="white" href="https://github.com/monero-project/kovri-site/blob/master/kovri.i2p/legal/terms.md" target="_blank">Terms of use</a> |
                <a class="white" href="https://github.com/monero-project/kovri-site/blob/master/kovri.i2p/legal/privacy.md" target="_blank">Privacy policy</a> |
                <a href="acknowledgements.html" class="white" target="_blank">Acknowledgements</a>
            </p>
        </div> 
         <div class="row center-xs">
               <p><a href="https://github.com/monero-project/kovri-site/blob/master/kovri.i2p/legal/copyright.md" target="_blank">Copyright</a>
                &copy; 2017, The Kovri I2P Router Project </p>
         </div>
   </div>
    
</footer>
