<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/css/flexboxgrid.css'' | prepend: site.baseurl_root }}">
        <link rel="stylesheet" href="{{ '/css/custom.css' | prepend: site.baseurl_root }}">
		<title>Kovri</title>
	<meta name="description" content="Kovri, a secure, private, untraceable C++ router implementation of I2P">
	<meta name="author" content="The Kovri I2P Router Project">
</head>